//worker "uwu" cpu=3
//worker "owo" cpu=4
//worker "qwq" cpu=5

sandbox {
    domain-name "igloo.arctic.necron.dev"
    uid 65534
    gid 65534
    // expect root to be a dedicated dir for igloo (as it would cleanup root on exit)
    fs "/run/igloo" {
        bind "/bin" exec=true
        bind "/lib"
        bind "/lib64"
        bind "/usr" exec=true

        bindf "/etc/ld.so.cache"
        bindf "/dev/null" rw=true
        bindf "/dev/urandom" rw=true
        bindf "/dev/random" rw=true
        bindf "/dev/zero" rw=true
        bindf "/dev/full" rw=true

        //root "size=16m,nr_inodes=4k,noswap"
        mount "wd" "/w" type="tmpfs" opts="size=16m,nr_inodes=4k"
        mount "tmp" "/tmp" type="tmpfs" opts="size=32m,nr_inodes=4k"

        //    mask "/proc/acpi"
        //    mask "/proc/asound"
        //    mask "/proc/kcore"
        //    mask "/proc/keys"
        //    mask "/proc/latency_stats"
        //    mask "/proc/timer_list"
        //    mask "/proc/timer_stats"
        //    mask "/proc/sched_debug"
        //    mask "/proc/scsi"
        //    mask "/usr/lib/wsl/drivers"
        //    mask "/usr/lib/wsl/lib"

        file "/etc/passwd" perm=0o644 #"igloo:x:65534:65534:Arctic Online Judge:/w:/sbin/nologin\nroot:x:0:0::/:/sbin/nologin"
        file "/etc/group" perm=0o644 #"igloo:x:65534:igloo\nroot:x:0:root"

        wd "/w"
    }

    env "PATH" "/usr/local/bin:/usr/bin:/bin"
    env "USER" "igloo"
}
